<h1>Messages</h1>

<%= form_for @new_message do |f| %>
    <%= f.text_field :text, placeholder: 'Your message' %>
<% end %>

<% @messages.each do |message| %>
    <div>
        <p><%= message.text %></p>
        <aside>
            By <%= message.user_email %>
            at <%= time_tag(message.created_at) %>
        </aside>
    </div>
<% end %>
