<%= render 'form' %>

<% @messages.each do |message| %>
  <div class="well clearfix">
    <p class="pull-left"><span class="glyphicon glyphicon-comment"></span> <%= message.text %></p>

      <aside class="pull-right">
        <span class="glyphicon glyphicon-user"></span> <%= message.user_email %> |
        <span class="glyphicon glyphicon-time"></span> <%= time_tag(message.created_at) %>
      </aside>
  </div>
<% end %>

<%= paginate @messages %>
