<!DOCTYPE html>
<html>
<head>
  <title>KeymailExample</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Keymail example</h1>

<% flash.each do |type, message| %>
    <div class="<%= type %>"><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
