<!DOCTYPE html>
<html>
<head>
  <title>KeymailExample</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1>Keymail example</h1>

  <% flash.each do |type, message| %>
    <div class="<%= flash_class(type) %>"><%= message %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
